# Dealing with Lists of Column Names (Solution)
- When you work ML Models, column names would not often be clean. 
- In this exercise you will learn how deal with columns using Lists
- The same will have to be mastered using Array's and Numpy Arrays and Pandas Series

### Q: How can you convert all the column names in a list to lowercase?
- A: You can use a list comprehension and the lower() method to convert all the column names to lowercase
- Expected Output: ['name', 'age', 'city']

In [21]:
columns = ['Name', 'Age', 'City']
lowercase_columns = [col.lower() for col in columns]
print(lowercase_columns)

['name', 'age', 'city']

### Q: How can you replace special characters in a list of column names?
- A: You can use a combination of the replace() method and a loop to replace the special characters
- Expected Output: ['Name', 'Age', 'City']

In [22]:
columns = ['Name', 'Age!', 'City#']
for i in range(len(columns)):
    columns[i] = columns[i].replace('!', '').replace('#', '')
print(columns)

['Name', 'Age', 'City']

### Q: How can you replace blank spaces in a list of column names with underscores?
- A: You can use the replace() method to replace the blank spaces with underscores
- Expected Output: ['First_Name', 'Last_Name', 'Age']

In [23]:
columns = ['First Name', 'Last Name', 'Age']
for i in range(len(columns)):
    columns[i] = columns[i].replace(' ', '_')
print(columns)

['First_Name', 'Last_Name', 'Age']

### Q: How can you add a new column name to a list of column names?
- A: You can use the append() method to add the new column name (City) to the end of the list
- Expected Output: ['Name', 'Age', 'City']

In [24]:
columns = ['Name', 'Age']
columns.append('City')
print(columns)

['Name', 'Age', 'City']

### Q: How can you drop a column name from a list of column names?
- A: You can use the remove() method to remove the column name from the list
- Expected Output: ['Name', 'Age']

In [25]:
columns = ['Name', 'Age', 'City']
columns.remove('City')
print(columns)

['Name', 'Age']

### Q: How can you combine two lists of column names?
- A: You can use the extend() method to add the elements of one list to another list
- Expected Output: ['Name', 'Age', 'City', 'State']

In [26]:
columns1 = ['Name', 'Age']
columns2 = ['City', 'State']
columns1.extend(columns2)
print(columns1)

['Name', 'Age', 'City', 'State']

### Q: How can you order a list of column names alphabetically?
- A: You can use the sorted() function to sort the list alphabetically
- Expected Output: ['Age', 'City', 'Name']

In [27]:
columns = ['Name', 'Age', 'City']
sorted_columns = sorted(columns)
print(sorted_columns)

['Age', 'City', 'Name']

### Q: How can you reverse the order of a list of column names?
- A: You can use the reverse() method to reverse the order of the list
- Expected Output: ['City', 'Age', 'Name']

In [28]:
columns = ['Name', 'Age', 'City']
columns.reverse()
print(columns)

['City', 'Age', 'Name']

### Q: How can you count the number of elements in a list of column names?
- A: You can use the len() function to get the number of elements in the list
- Expected Output: 3

In [29]:
columns = ['Name', 'Age', 'City']
count = len(columns)
print(count)

3

### Q: How can I trim extra space from a list of column names in Python?
- A: You can use the strip() method to remove leading and trailing spaces from each column name in the list. 
- Expected Output: ['Name', 'Age', 'Gender']

In [30]:
# Example list of column names with extra spaces
column_names = ["  Name  ", "  Age  ", "  Gender  "]

# Remove leading and trailing spaces from each column name
trimmed_names = [name.strip() for name in column_names]

# Print the trimmed column names
print(trimmed_names)

['Name', 'Age', 'Gender']