# Dealing with Lists of Column Names (Practice)
- When you work ML Models, column names would not often be clean. 
- In this exercise you will learn how deal with columns using Lists
- The same will have to be mastered using Array's and Numpy Arrays and Pandas Series

In [1]:
import pandas as pd

### Q: Given a pandas dataframe, identify the percentage of missing data in each column.

In [5]:
# create sample dataframe
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, None, 8], 'C': [None, None, None, None]})

# calculate percentage of missing data in each column
missing_percentages = df.isna().mean() * 100

# print result
missing_percentages

A     25.0
B     50.0
C    100.0
dtype: float64

### Q: Given a pandas dataframe with missing data, fill in missing values in a specific column with the mean of that column.

In [4]:
# create sample dataframe
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, None, 8], 'C': [9, 10, 11, 12]})

# fill missing values in column 'B' with the mean of that column
df['B'].fillna(df['B'].mean(), inplace=True)

# print result
df

     A    B   C
0  1.0  5.0   9
1  2.0  6.5  10
2  NaN  6.5  11
3  4.0  8.0  12

### Q: Given a pandas dataframe with sales data, group the data by product and calculate the total sales for each product.

In [6]:
# create sample dataframe
df = pd.DataFrame({'Product': ['A', 'A', 'B', 'B'], 'Sales': [100, 200, 300, 400]})

# group by product and calculate total sales
total_sales = df.groupby('Product')['Sales'].sum()

# print result
total_sales

Product
A    300
B    700
Name: Sales, dtype: int64

### Q: How can you add a new column name to a list of column names?
- A: You can use the append() method to add the new column name (City) to the end of the list
- Expected Output: ['Name', 'Age', 'City']

In [24]:
columns = ['Name', 'Age']



print(columns)

['Name', 'Age', 'City']

### Q: How can you drop a column name from a list of column names?
- A: You can use the remove() method to remove the column name from the list
- Expected Output: ['Name', 'Age']

In [25]:
columns = ['Name', 'Age', 'City']



print(columns)

['Name', 'Age']

### Q: How can you combine two lists of column names?
- A: You can use the extend() method to add the elements of one list to another list
- Expected Output: ['Name', 'Age', 'City', 'State']

In [26]:
columns1 = ['Name', 'Age']
columns2 = ['City', 'State']



print(columns1)

['Name', 'Age', 'City', 'State']

### Q: How can you order a list of column names alphabetically?
- A: You can use the sorted() function to sort the list alphabetically
- Expected Output: ['Age', 'City', 'Name']

In [27]:
columns = ['Name', 'Age', 'City']



print(sorted_columns)

['Age', 'City', 'Name']

### Q: How can you reverse the order of a list of column names?
- A: You can use the reverse() method to reverse the order of the list
- Expected Output: ['City', 'Age', 'Name']

In [28]:
columns = ['Name', 'Age', 'City']



print(columns)

['City', 'Age', 'Name']

### Q: How can you count the number of elements in a list of column names?
- A: You can use the len() function to get the number of elements in the list
- Expected Output: 3

In [29]:
columns = ['Name', 'Age', 'City']



print(count)

3

### Q: How can I trim extra space from a list of column names in Python?
- A: You can use the strip() method to remove leading and trailing spaces from each column name in the list. 
- Expected Output: ['Name', 'Age', 'Gender']

In [30]:
# Example list of column names with extra spaces
column_names = ["  Name  ", "  Age  ", "  Gender  "]

# Remove leading and trailing spaces from each column name


# Print the trimmed column names

['Name', 'Age', 'Gender']